{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-10 mx-auto">
			<h2>About Makerspaces</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-lg-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">3D Print a Lunar Lander</h5>
					<p class="card-text">Work with Bryan as he prints and assembles a lunar lander.</p>
					<a href="#" class="btn btn-primary"><i class="fa fa-youtube-play fa-2x"></i></a>
					<a href="#" class="btn btn-primary">Download Files <i class="fa fa-external-link fa-lg"></i></i></a>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">3D Print Yourself</h5>
					<p class="card-text">Work with Shaq as he cleans up up his 3D scanned model to create a model of himself.</p>
					<a href="#" class="btn btn-primary"><i class="fa fa-youtube-play fa-2x"></i></a>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">3D Print Yourself</h5>
					<p class="card-text">Work with Shaq as he cleans up up his 3D scanned model to create a model of himself.</p>
					<a href="#" class="btn btn-primary"><i class="fa fa-youtube-play fa-2x"></i></a>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">3D Print Yourself</h5>
					<p class="card-text">Work with Shaq as he cleans up up his 3D scanned model to create a model of himself.</p>
					<a href="#" class="btn btn-primary"><i class="fa fa-youtube-play fa-2x"></i></a>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<hr>
</div>
{% endblock %}
