{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-10 mx-auto">
			<h2>New Video Resources and How-to Articles</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">3D Print a Lunar Lander</h5>
					<p class="card-text">Work with Bryan as he prints and assembles a lunar lander.</p>
					<a href="#" class="btn btn-primary"><i class="fa fa-youtube-play fa-2x"></i></a>
					<a href="#" class="btn btn-primary">Download Files <i class="fa fa-external-link fa-lg"></i></i></a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">3D Print Yourself</h5>
					<p class="card-text">Work with Shaq as he cleans up up his 3D scanned model to create a model of himself.</p>
					<a href="#" class="btn btn-primary"><i class="fa fa-youtube-play fa-2x"></i></a>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-12 col-md-12 mx-auto">
			<h2>Instructional Guide</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean varius vulputate nulla eget faucibus. Sed tincidunt viverra dui eu dapibus. Mauris tincidunt magna non sapien maximus vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed efficitur elit in odio auctor malesuada. Phasellus in erat et felis placerat mattis nec quis eros. Pellentesque urna purus, porta fringilla enim in, faucibus facilisis nibh. Ut sagittis rutrum elit ac ultricies. Proin finibus, libero ut interdum vehicula, est tellus pulvinar mauris, id rutrum purus tellus at est. Nunc ac magna justo. Nullam vitae enim nec nulla facilisis ultrices sed vel neque. Pellentesque eu varius neque, et finibus elit. Aenean rutrum vehicula sapien sed blandit. Etiam laoreet nulla iaculis lectus tincidunt vestibulum.
			</p>
			<p>
				Ut tempor vestibulum maximus. Proin hendrerit diam vitae orci varius sollicitudin in sed purus. Nam quis leo a libero tempus pellentesque nec sed lacus. In hac habitasse platea dictumst. Sed imperdiet ut mi ut suscipit. Aliquam tincidunt a neque in tincidunt. In porttitor porta tempus. Vivamus eleifend quam nec risus venenatis, eu consequat metus efficitur. Sed porttitor id enim a ultrices. Sed at est ultricies, facilisis odio quis, tincidunt quam. Nullam vehicula massa justo, id dapibus elit consequat vel. Proin dignissim nisi in nulla posuere tincidunt ut lacinia leo. Vivamus ut nulla magna. In hac habitasse platea dictumst. Pellentesque tristique, dui in convallis luctus, erat enim mollis sapien, at vulputate arcu eros sed dui.
			</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
</div>
{% endblock %}
