{% extends 'base.html' %}
{% block content %}


    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="/blog/1">
              <h2 class="post-title">
                The STEM Innovation Lab Website Goes Live
              </h2>
              <h3 class="post-subtitle">
                Here is what our new website will have.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <i>Abhishek Gorti</i>
              on 31 MAY 2018</p>
          </div>
          <hr>
          <!-- Pager 
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>-->
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="/blog/2">
              <h2 class="post-title">
                New Team Members
              </h2>
              <h3 class="post-subtitle">
                Meet our new team members
              </h3>
            </a>
            <p class="post-meta">Posted by
              <i>Abhishek Gorti</i>
              on 04 JUN 2018</p>
          </div>
          <hr>
          <!-- Pager 
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>-->
        </div>
        <hr>
      </div>
    </div>

{% endblock %}