{% extends 'base.html' %}
{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-10 mx-auto">
      <ul>
        <li>The STEAM Innovation Lab is essentially a hybrid makerspace where we
          invite NASA scientists, engineers and educators to explore and develop new
          ideas related to infusion of educational technology into STEM (Science,
          Technology, Engineering and Mathematics) activities, programs, and
          approaches.
        </li>
        <li>
          By placing at least eight STEM exploration stations in close proximity, we
          encourage users to investigate how new and existing technologies can be
          effectively blended together for greater impact and integrated into existing
          education programs and products.
        </li>
        <li>Stations currently include: Design and Fabrication {3D, Paper),
          Coding/Electronics, Mobile Sensores, AR/VR, Optics, Gamification/Virtual
          Environments, Mobile Media, Touchscreen Devices. Stations will be
          replaced with emerging technologies, as recommended by the HEC
        partners (i.e., ISTE, UNT).</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-10 mx-auto">
      <li>
        We continually identify and incorporate new technologies as they become
        available into existing and new space science education programs
      </li>
      <li>
        Through our partnership with UNT, we conduct short and long term
        evaluation and peer reviewed research on selected ideas produced in the
        lab.
      </li>
      <li>
        Ideas collected in the lab are captured and shared with education networks
        in a variety of effective ways including video biogs, social media, monthly
        working group meetings and research. @NASASpaceSciEdu
      </li>
      <li>We also work closely with ISTE to organize virtual workshops for informal
        educators that will allow them to explore and share emerging technologies.
      </li>
      <li>
        Future ideas include replicating the lab or sections of the in other locations
        that will be called NASA Innovation Outposts. 
      </li>
    </div>  
  </div>
</div>
{% endblock %}
